{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block main %}
    <div>
        <h1>My Tasks</h1>
        {% if my_tasks.count == 0 %}
            <p>You have no tasks</p>
        {% else %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for task in my_tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date|date }}</td>
                            <td>{{ task.due_date|date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock main %}
